@using RestaurantBookingMVC.Models.DTOs
@model ReservationDTO

<h2>Skapa en reservation</h2>

<form asp-action="CreateReservation" method="post">  @* Vart all information ska skickas(vilken action som används) och vilken metod som används *@
    <div class="form-group">
        <label></label>
    </div>
</form>