@{
    ViewData["Title"] = "Home | BGs";
}

<div style="position: relative; height: 100vh; width: 100vw; overflow: hidden; margin: 0; padding: 0;">
    <video autoplay muted loop playsinline style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; min-width: 100%; min-height: 100%; object-fit: cover;">
        <source src="/videos/6577409-hd_1920_1080_25fps.mp4" type="video/mp4">
        Din webbläsare stödjer inte video.
    </video>
</div>

<div class="container" style="margin-top: 200px">
    <div class="row">
        <div class="col-md-8">
            <h2 class="display-4">En restaurang för alla...</h2>
            <p class="lead">
                men om vi ska vara ärliga, framförallt för köttälskare. Om vi får skryta, så har BG Sveriges bästa porterhouse, clubsteak, entrecôte etc, handplockade och levererade av Scan. Självklart finns det mycket annat på menyn, men det är detta som ligger oss närmast om hjärtat. Vi hängmörar själva och i den stora kylen vid entrén hänger styckena på rad.
            </p>
            <p class="lead">
                Utbudet varierar eftersom vi helst använder närproducerade och säsongsbetonade råvaror, till exempel vilt på vintern och lamm på våren.
            </p>
            <p class="lead">
                Lokalen var en gång Hallbergs silversmedsverkstad och eftersom BG är den kemiska beteckningen för silver, fick det bli namnet. Jonas Bohlin har skapat inredningen med mycket kakel, småländska armaturer, läder från Tärnsjö och specialritade stolar.
            </p>
            <p class="lead">
                Med AG har vi skapat restaurangen vi själva skulle vilja gå till. Ett ställe för alla som tycker om att umgås, ha trevligt och äta förstklassiga råvaror tillagade utan krångel, men med små medel och stor kunskap. Många börjar med att äta sig hungriga på tapas i baren och fortsätter vid bordet med att dela olika förrätter. Sedan är det dags för – just det – en härlig köttbit. Mycket välkommen.
            </p>
            <p>
                Niklas Sjödin
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/Gordon.jpg" alt="Beskrivning av bilden" class="img-fluid" />
        </div>
    </div>
</div>

