@{
    ViewData["Title"] = "Home | BGs";
}
<!-- Hero image genom Bootstrap -->
<div class="jumbotron jumbotron-fluid" style="background-image: url('https://media.kotthallen.se/w_1440,q_auto,f_auto/prod/kotthallen/app/sv_SE/ravarukunskap/notkott1440x500.png'); background-size: cover; height: 250px; color: white;">
</div>