@{
    ViewData["Title"] = "Gift Card | BGs";
}
<!-- Bar text och bild -->
<div class="container" style="margin-top: 100px; margin-bottom: 200px">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <h2 class="fs-1 text-left">Presentkort</h2>
            <p class="text-left">
                Funderar du på att ge bort en fantastisk köttupplevelse?
                Hos oss går det utmärkt att köpa presentkort på plats i restaurangen, eller via länken nedan.
            </p>
            <p class="text-left">
                OBS! Presentkorten kan nyttjas som tidigast 72 timmar efter köp.
            </p>
            <p class="text-left">
                Presentkorten är endast giltiga i matsalen och baren på BG, inte som betalmedel på BG Kötthandel.
            </p>
            <p class="text-left">
                Vi säljer även andra presentartiklar, till exempel böcker, tallrikar, olivolja, T-shirt & Moraknivar.
            </p>
            <p class="text-left">
                Kom förbi så hjälper vi er!
            </p>
            <a class="btn btn-dark btn-lg">Köp Presentkort</a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img src="/Images/annie-spratt-fAQsW9g4_0Y-unsplash.webp" alt="accesskey gift card wrapped in golden paper with flowers on a dark green background." class="img-fluid" />
        </div>
    </div>
</div>

<!-- Öppettider -->
<div class="container my-5">
    <h2 class="display-5 text-center mb-4">Öppettider</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-unstyled text-center">
                <li>
                    <strong>Måndag - Torsdag:</strong> 17:00 - 00:00
                </li>
                <li>
                    <strong>Fredag:</strong> 17:00 - 01:00
                </li>
                <li>
                    <strong>Lördag:</strong> 13:00 - 01:00
                </li>
                <li>
                    <strong>Söndag:</strong> 17:00 - 00:00
                </li>
            </ul>
        </div>
    </div>
    <!--Övrig text -->
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <p class="mt-3">
                <em>Meddela oss vid bokning vid behov av större hiss, för rullstol eller barnvagn, så lämnar vi ut en annan ankomstadress.</em>
            </p>
            <p>
                Vi svarar i telefonen från klockan <strong>09.00 på vardagar</strong>.
            </p>
            <p>
                <strong>Vi är en kontantfri restaurang</strong>.
            </p>
        </div>
    </div>
</div>
<!-- Kontakt -->
<div class="container my-5">
    <h2 class="display-5 text-center mb-4">Kontakt</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-unstyled text-center">
                <li>
                    <strong>Telefon:</strong> 08 410 681 00
                </li>
                <li>
                    <strong>Email:</strong> info@restaurangbg.se
                </li>
                <li>
                    <strong>Adress:</strong> Kronobergsgatan 37, 112 33 Stockholm
                </li>
            </ul>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-secondary btn-lg">Boka Bord</button>
            </div>
        </div>
    </div>
</div>