body {
    font-family: 'Georgia', serif; /* Sätter font-family på all text */
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; 
}
#carouselExampleCaptions {
    width: 50%; /* Sätter karusellens bredd till 50% av sidan */
    margin: 0 auto; /* Centrera karusellen horisontellt */
}

.carousel-item img {
    height: 300px; /* Fixerad höjd för bilderna */
    width: auto; /* Automatisk bredd beroende på höjd */
    object-fit: cover; /* Ser till att bilden fyller hela området utan att förlora proportioner */
}

.carousel-control-prev, .carousel-control-next {
    top: 50%; /* Placera knapparna i mitten vertikalt */
    transform: translateY(-50%); /* Justerar knapparna så att de är centrerade */
}