<!-- Hero image genom Bootstrap -->
<div class="jumbotron jumbotron-fluid" style="background-image: url('https://images.unsplash.com/photo-1708388064672-6536507fdf6e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center; height: 400px; color: white;">
</div>

<!-- Öppettider -->
<div class="container my-5">
    <h2 class="display-6 text-center mb-4">Öppettider</h2>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-unstyled text-center">
                <li>
                    <strong>Måndag - Torsdag:</strong> 17:00 - 00:00
                </li>
                <li>
                    <strong>Fredag:</strong> 17:00 - 01:00
                </li>
                <li>
                    <strong>Lördag:</strong> 13:00 - 01:00
                </li>
                <li>
                    <strong>Söndag:</strong> 17:00 - 00:00
                </li>
            </ul>
        </div>
    </div>
    <!--Övrig text -->
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <p class="mt-3">
                <em>Meddela oss vid bokning vid behov av större hiss, för rullstol eller barnvagn, så lämnar vi ut en annan ankomstadress.</em>
            </p>
            <p>
                Vi svarar i telefonen från klockan <strong>09.00 på vardagar</strong>.
            </p>
            <p>
                <strong>Vi är en kontantfri restaurang</strong>.
            </p>
        </div>
    </div>
</div>
<!-- Kontakt -->
<div class="container my-5">
    <h2 class="display-6 text-center mb-4">Kontakt</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-unstyled text-center">
                <li>
                    <strong>Telefon:</strong> 08 410 681 00
                </li>
                <li>
                    <strong>Email:</strong> info@restaurangbg.se
                </li>
                <li>
                    <strong>Adress:</strong> Kronobergsgatan 37, 112 33 Stockholm
                </li>
            </ul>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-secondary btn-lg">Boka Bord</button>
            </div>
        </div>
    </div>
</div>